<TMPL_IF FRENCH>
<TMPL_IF TODO><span class="translation notice">Pour traduire cette page, <a href="https://github.com/hugoroy/user-data-manifesto/blob/master/index.fr.po">éditer la source</a>. Merci !</span></TMPL_IF>
<TMPL_IF DOING><span class="translation notice">Cette page est une traduction en cours. L’<a href="index.en.html">original est en anglais</a>. Pour contribuer à cette traduction, <a href="https://github.com/hugoroy/user-data-manifesto/blob/master/index.fr.po">éditer la source</a>.</span></TMPL_IF>
<TMPL_IF DONE><span class="translation notice">Cette page est une traduction. L’<a href="index.en.html">original est en anglais</a>.</span></TMPL_IF>
</TMPL_IF>

