<span class="translation notice">
<TMPL_IF FRENCH>
<TMPL_IF TODO>Pour traduire cette page, <a href="https://github.com/hugoroy/user-data-manifesto/blob/master/index.fr.po">éditer la source</a>. Merci !</TMPL_IF>
<TMPL_IF DOING>Cette page est une traduction en cours (faite à <TMPL_VAR PERCENT>%). L’<a href="index.en.html">original est en anglais</a>. Pour contribuer à cette traduction, <a href="https://github.com/hugoroy/user-data-manifesto/blob/master/index.fr.po">éditer la source</a>.</TMPL_IF>
<TMPL_IF DONE>Cette page est une traduction. L’<a href="index.en.html">original est en anglais</a>.</TMPL_IF>
</TMPL_IF>
</span>
