<!-- To add your language, please copy and translate the following block in your
 LANGUAGENAME
-->
<TMPL_IF LANGUAGENAME>
<TMPL_IF TODO><span class="translation notice">To translate this page, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">edit the source</a>. Thanks!</span></TMPL_IF>
<TMPL_IF DOING><span class="translation notice">This page is an ongoing translation. The <a href="index.en.html">original page is in English</a>. To contribute to this translation, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">edit the source</a>.</span></TMPL_IF>
<TMPL_IF DONE><span class="translation notice">This page is a translation. The <a href="index.en.html">original is in ENglish</a>.</span></TMPL_IF>
</TMPL_IF>
<!--END-->


<TMPL_IF FRENCH>
<TMPL_IF TODO><span class="translation notice">Pour traduire cette page, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">éditer la source</a>. Merci !</span></TMPL_IF>
<TMPL_IF DOING><span class="translation notice">Cette page est une traduction en cours. L’<a href="index.en.html">original est en anglais</a>. Pour contribuer à cette traduction, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">éditer la source</a>.</span></TMPL_IF>
<TMPL_IF DONE><span class="translation notice">Cette page est une traduction. L’<a href="index.en.html">original est en anglais</a>.</span></TMPL_IF>
</TMPL_IF>

<TMPL_IF DEUTSCH>
<TMPL_IF TODO><span class="translation notice">Um diese Seite zu übersetzen, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">bearbeite den Quelltext</a>. Danke!</span></TMPL_IF>
<TMPL_IF DOING><span class="translation notice">Diese Seite wird gerade übersetzt. Die <a href="index.en.html">Originalversion ist Englisch</a>. <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">Bearbeite den Quelltext</a>, um bei der Übersetzung mitzumachen.</span></TMPL_IF>
<TMPL_IF DONE><span class="translation notice">Diese Seite ist übersetzt. Die <a href="index.en.html">Originalversion ist Englisch</a>.</span></TMPL_IF>
</TMPL_IF>

<TMPL_IF TURKISH>
<TMPL_IF TODO><span class="translation notice">To translate this page, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">edit the source</a>. Thanks!</span></TMPL_IF>
<TMPL_IF DOING><span class="translation notice">This page is an ongoing translation. The <a href="index.en.html">original page is in English</a>. To contribute to this translation, <a href="https://github.com/userdatamanifesto/www/blob/master/<TMPL_VAR GHSRC>">edit the source</a>.</span></TMPL_IF>
<TMPL_IF DONE><span class="translation notice">This page is a translation. The <a href="index.en.html">original is in ENglish</a>.</span></TMPL_IF>
</TMPL_IF>
